#review {
  background-image: linear-gradient(to right top, #1f191b, #2c1a1f, #3a1b21, #471b22, #541b20, #5a1e21, #602022, #662322, #672827, #682d2d, #693232, #693737);
}

.cont2{
  position: relative; 
  text-align: center;
  height: 12%;
}

.cont2 h1 {
  font-size: 2.5rem;
  color: cornsilk;
}

.fcontainer{
display: flex;
justify-content: space-around;
margin-top: 50px;
}

.fcontainer h1{
font-family:'Poppins', sans-serif ;
color: cornsilk;
}

.feedbackCard img{
  height: 50px;
  width: 35;
}
.cont3{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#feedback{
  text-align: center;
  height: 600px;
}

#feedback h1{
  font-size: 2.8rem;
  color: cornsilk;
}

#feedback h2{  
  color: cornsilk;
}

.cont3 form{
  border: 1px solid black;
  height: 350px;
  padding: 40px;
  border-radius: 10px;
  width: 40%;
  font-family: 'Poppins', sans-serif ;
  font-size: 1.5rem;
  text-align: left;
}

#rating{
  position: relative;
  left: 260px;
  bottom: 25px;
  width: 50%;
}

.rating {
  color:cornsilk;
}

#comment{
  position: relative;
  left: 150px;
  bottom: -50px;
  width: 60%;
  padding: 10px;
  color: #1A1A1A;
}

#comm{
  position: relative;
  bottom: 100px;
  color: cornsilk;
}

#submit1{
  background-color: #000000;
  font-family:'Poppins', sans-serif;
  font-size: 2rem;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  color: cornsilk;
  position: relative;
  top: 42px;
  left: px;
}

#submit1:hover{
  background-color: #693737;
}

#homebtn {
  background-color: #000000;
  font-family:'Poppins', sans-serif;
  font-size: 2rem;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  color: cornsilk;
  position: relative;
  top: 42px;
}

.feedbackCard{
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  box-shadow: 10px 2px 10px 2px;
}

.feedbackCard:hover{
  box-shadow: 10px 10px 5px; 
}

.feedbackCard h1 {
  font-size: 2rem;
  color: cornsilk;
}

.feedbackCard p {
  font-size: 1.5rem;
  color: cornsilk;
}

.feedbackCard button{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

