.footer{
    display: flexbox;
	background-color: #693737;
	color: white;
    max-width: 100%;
    padding-top: 10px;
    margin-top: 15%;
    
}
.first-sectoion{
    margin-left: 250px;
    
}

.f-social i{
    padding: 15px;
    border-radius: 50px;
    background-color: white;
    justify-items: space-between;
    font-size: 50px;
    margin-right: 10px;
    color:#693737;
}

.footer-links{
    display: grid;
    grid-template-columns: 1.3fr repeat(1, 1fr) 1fr;
    padding-left: 30px;
    gap: 1.3rem;
    font-size: larger;
}
li i{
    background-color: black;
}
.about{
    font-size: x-large;
}
.subscribe {
    font-size: x-large;
    /* position: relative;
    right: 100px; */
}
.subscribe input{
    padding: 20px;
    width: 300px;
}
#s-btn {
    font-size: large;
    font-weight: 700;
    text-align: center;
    width: 100px;
    height: 64px;
    background-color: black;
    color: #fafafa;
    padding: 20px;
    width: 150px;
}

.end{
    background-color: black;
    color: #fafafa;
    text-align: center;
    font-size: x-large;
}